body {
    background-image: url("https://images.unsplash.com/photo-1468276311594-df7cb65d8df6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80");
}

input.error {
    background-color: #aa53c3;
}

span{
    color: #4f4484;
}

small {
    color: #aa53c3;
    font-size: 17px;
}

h1 {
  text-align: center;
  font-size: 60px;
}

p {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
}

.container {
height: 80px;
width: 100%;
  text-align: center;
  line-height: 45px;
}

form {
    width: 600px;
    height: 600px;
    padding: 20px;
    background-color: rgb(3,5,15);
    opacity: 0.60;
    color: #9295cd;
    margin-left: auto;
    margin-right: auto;
}

input{
    background-color: #9295cd;
    color: #fff;
    width: 50%;
    margin-bottom: 10px;
    border: 1px solid #4f4484;
    padding: 5px;

}

label {
    display: block;
    margin-bottom: 2px;
    font-size: 20px;
    flex-basis: 30%;
}

input[type="radio"],
input[type="checkbox"] {
    width: auto;
}

label[for*="male"],
label[for*="agree"] {
    display: inline;
}

input:focus{
    background-color: #9295cd;
    border: 1px solid #4f4484;
}

button[type="submit"] {
    background-color: #9295cd;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    padding: 10px 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

button[type="submit"]:hover {
    background-color: #4f4484;
}
